.cart_bloc{
    display: flex;
    align-items: center;
    position: relative;
}

.cart_bloc-total{
    color: rgb(255, 255, 255);
    margin-left: 14px;
    font-size: 18px;
    font-weight: bold;
}

.cart_bloc-icon{
    cursor: pointer;
    position: relative;
}
